
<h1>Welcome to Contact Book</h1>

<button type="submit" class="btn btn-primary btn-lg rounded-pill shadow">
    <a asp-controller="Contact" action="Index" class="text-decoration-none text-white">
        Explore Contacts
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill ml-1" viewBox="0 0 16 16">
        </svg>
    </a>
</button>

