<div class="container">
    <h2 class="row justify-content-center">Forgot Password</h2>
    <div *ngIf="loading" class="loader-overlay">
        <img src="assets/loaderImage.gif" class="loader-overlay" alt="loading" />
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form [formGroup]="forgotPassForm" (ngSubmit)="OnSubmit()">
                <div class="mb-3">
                    <label for="username" class="form-label">Login ID: </label>
                    <input type="text" class="form-control" id="username" formControlName="username" />
                    <div *ngIf="formControl['username'].invalid && formControl['username'].touched">
                        <small class="text-danger" *ngIf="formControl['username'].errors?.['required']">
                            Username is required
                        </small>
                        <small class="text-danger" *ngIf="formControl['username'].errors?.['minlength']">
                            Username must be at least 3 characters
                        </small>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password: </label>
                    <input type="password" class="form-control" id="password" formControlName="password" />
                    <div *ngIf="formControl['password'].invalid && formControl['password'].touched">
                        <small class="text-danger" *ngIf="formControl['password'].errors?.['required']">
                            Password is required
                        </small>
                        <small class="text-danger" *ngIf="formControl['password'].errors?.['minlength']">
                            Password must be at least 8 characters
                        </small>
                        <small class="text-danger" *ngIf="formControl['password'].errors?.['passwordStrength']">
                            Password must contain at least one special character, one uppercase letter, one lowercase letter, and one digit
                          </small>

                    </div>
                </div>
                <div class="mb-3">
                    <label for="confirmPassword" class="form-label">Confirm Password: </label>
                    <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" />
                    <div *ngIf="formControl['confirmPassword'].invalid && formControl['confirmPassword'].touched">
                        <small class="text-danger" *ngIf="formControl['confirmPassword'].errors?.['required']">
                            Confirm Password is required
                        </small>
                    </div>   
                    <div *ngIf="formControl['confirmPassword'].dirty">
                      
                    <small class="text-danger" *ngIf="forgotPassForm.hasError('passwordMismatch')">Passwords do not match.</small>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary" [disabled]="forgotPassForm.invalid">Submit</button>
            </form>
        </div>
    </div>
</div>

